.burger {
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s all;
  -webkit-tap-highlight-color: transparent;
  opacity: 1;

  button {
    outline: none;
  }

  .burger-lines {
    top: 50%;
    margin-top: -0.125em;

    &::before {
      left: 0;
      top: 1em;
    }
    &::after {
      left: 0;
      top: -1em;
    }
  }
  .burger-lines,
  .burger-lines:after,
  .burger-lines:before {
    pointer-events: none;
    display: block;
    content: "";
    width: 100%;
    border-radius: 0.25em;
    background-color: #fff;
    height: 0.25em;
    position: absolute;
    transform: rotate(0);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  // &.burger-squeeze {
  //   .burger-lines,
  //   .burger-lines:after,
  //   .burger-lines:before {
  //     transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
  //       0.4s background-color 0.2s;
  //   }
  // }
}

/* Position and sizing of burger button */
.bm-burger-button {
  width: 32px;
  position: relative;
  z-index: 5 !important;
}
.close-icon {
  width: 32px !important;
  height: 32px !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  outline: none;
  right: 15px !important;
  top: 15px !important;
  opacity: 0.8;

  img {
    outline: none;
  }

  &:focus,
  &:hover {
    opacity: 1;
    outline: none;
  }

  span {
    display: none;
  }
}

/*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #131313;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #fff;
  padding: 0.8em 0;

  a {
    color: inherit;
    opacity: 0.9;
    padding: 0.5em 0;
    font-size: 1.1rem;
    transition: 0.2s;

    &.active {
      color: #fff;
      text-decoration: underline;
    }

    &:focus,
    &:hover {
      color: #fff;
      opacity: 1;
      outline: none;
      padding-left: 2px;
    }
  }
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
