header {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: hsla(0, 0%, 0%, 0.8);
  // @media (min-width: $device-lg) {
  // -webkit-backdrop-filter: saturate(180%) blur(5px);
  // backdrop-filter: saturate(180%) blur(5px);
  // }
  // background-image: url(../images/bg.jpg);
  // background-image: url(../images/headerbanner.png);
  background-image: url(../images/smaller.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;

  .header-gradient {
    background: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 50%;
    right: 0%;
    top: 0rem;
    pointer-events: none;

    // &:after {
    //   content: "";
    //   width: 100%;
    //   left: 100%;
    //   position: absolute;
    //   height: 100%;
    //   background: black;
    // }
  }

  .home {
    font-family: "ITC Avant Garde Gothic LT Bold";
    font-size: 1rem;
    align-items: center;
    display: flex;

    @media (min-width: $device-md) {
      font-size: 1.8rem;
    }
    svg {
      // max-height: 15px;
      // margin-right: 5px;
      max-height: 37px;
      width: auto;
      margin-right: -12px;

      path {
        fill: $red;
      }
    }
  }

  #menu {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
    font-weight: 900;
    font-size: 0.9rem;
    display: none;
    z-index: 1;

    @media (min-width: $device-lg) {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
    }

    // $border-color: #414141;
    $border-color: #d4d4d4;
    a {
      border-left: 1px solid $border-color;
      display: block;
      padding: 0.7rem 0.9rem;
      // color: #9e9e9e;
      color: #f1f1f1;

      &:first-child {
        border-left: 1px solid $border-color;
      }
      &:last-child {
        border-right: 1px solid $border-color;
      }
      &.active,
      &:hover,
      &:focus {
        background-color: white;
        color: #000;
        border-color: white;
      }
    }
  }
  .burger-button {
    @media (min-width: $device-lg) {
      display: none;
    }
  }
}
